* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.descuentos {
  background-color: #d1891c;
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  font-size: 45px;
  padding-left: 67px;
  padding-top: 4px;
  padding-bottom: 1px;
  height: 61px;
  width: 100%;
}

h1 {
  background-color: #00669f;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 60px;
  font-weight: 400;
  height: 101px;
  padding-left: 67px;
  width: 100%;
}

main {
  padding-bottom: 110px;
  padding-top: 101px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 317px;
  height: 590px;
  margin-bottom: 84px;
}

.card-head {
  height: 194px;
  position: relative;
}

.header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: 194px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.icono {
  border-radius: 50%;
  left: 85px;
  height: 120px;
  position: absolute;
  top: 130px;
  width: 120px;
}

.icono-superman {
  border-radius: 50%;
  left: 85px;
  height: 120px;
  position: absolute;
  top: 130px;
  width: 120px;
  opacity: 0%;
}

.corazoncito {
  left: 21px;
  position: absolute;
  top: 16.88px;
}

.card-body {
  background-color: #f3f3f3;
  box-shadow: 1px 3px 5px 1.5px rgba(0, 0, 0, 0.2);
  padding: 72px 16px 19px 16px;
  height: 396px;
}

.card-body h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.card-body p {
  color: #333333;
  font-size: 16px;
  height: 172.8px;
  left: 48px;
  margin-top: 10px;
  text-align: left;
}

.card-body a {
  background-color: #00669f;
  color: white;
  display: inline-block;
  margin-left: 65px;
  margin-top: 37px;
  padding: 15px 36px;
  text-decoration: none;
  border-radius: 7px;
}

.btn-agregar {
  display: flex;
  position: fixed;
  top: 50%;
  height: 50px;
  right: 1.7%;
  width: 50px;
}

footer {
  background-color: #00669f;
  color: white;
  padding: 16px 32px;
}

.contenido-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.derechos {
  width: 45vw;
}

@media (max-width: 714px) {
  .icono-superman {
    z-index: 1;
    opacity: 100%;
  }

  .card {
    margin-bottom: 100px;
  }
}

@media (max-width: 410px) {
  .descuentos {
    height: 112px;
  }
}

@media (max-width: 570px) {
  h1 {
    height: 150px;
  }
}

@media (max-width: 377px) {
  h1 {
    height: 230px;
  }
}
