* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.descuentos {
  background-color: #1cd1b0;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 3px;
  height: 23px;
}

.logo-y-titulo {
  align-content: center;
  align-items: center;
  background-color: #00669f;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 81px;
  padding-top: 3px;
  padding-bottom: 4px;
}

.logo-y-titulo img {
  width: 99px;
  height: 74px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

nav {
  background-color: #001d2d;
}

.barra-navegacion ul {
  align-items: center;
  display: flex;
  gap: 20px;
  height: 40px;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 20px;
}

.barra-navegacion a {
  color: white;
  text-decoration: none;
}

main {
  padding-bottom: 110px;
  padding-top: 101px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.card {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 590px;
  margin-bottom: 84px;
}

.card-head {
  height: 186.55px;
  position: relative;
}

.header {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  height: auto;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 305px;
}

.icono {
  border-radius: 50%;
  left: 85px;
  height: 120px;
  position: absolute;
  top: 122.55px;
  width: 120px;
}

.icono-superman {
  border-radius: 50%;
  left: 85px;
  height: 120px;
  position: absolute;
  top: 122.55px;
  width: 120px;
  opacity: 0%;
}

.corazoncito {
  left: 21px;
  position: absolute;
  top: 16.88px;
}

.card-body {
  background-color: #f3f3f3;
  box-shadow: 1px 3px 5px 1.5px rgba(0, 0, 0, 0.2);
  padding: 72px 16px 19px 16px;
  height: 396px;
}

.card-body h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.card-body p {
  color: #333333;
  font-size: 16px;
  height: 172.8px;
  left: 48px;
  margin-top: 10px;
  text-align: left;
}

.card-body a {
  background-color: #00669f;
  color: white;
  display: inline-block;
  margin-left: 65px;
  margin-top: 37px;
  padding: 15px 36px;
  text-decoration: none;
  border-radius: 7px;
}

.card-body a:hover {
  background-color: #001d2d;
}

.btn-agregar {
  position: fixed;
  right: 30px;
  top: 50%;
<<<<<<< HEAD
  right: 20px;
  width: 50px;
=======
}

.btn-agregar i {
  color: #00669f;
  font-size: 50px;
}

.btn-agregar i:hover {
  color: #001d2d;
>>>>>>> b6010f9e6b245a11ea6243c25e3b7fb7ff64b0a7
}

footer {
  background-color: #00669f;
  color: white;
  padding: 16px 32px;
}

.contenido-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 714px) {
  .icono-superman {
    z-index: 1;
    opacity: 100%;
  }

  .card {
    margin-bottom: 100px;
  }
}

@media (max-width: 340px) {
  .logo-y-titulo {
    gap: 5px;
    padding-right: 10px;
  }
}

@media (max-width: 319.5px) {
  .logo-y-titulo {
    height: 131px;
    justify-content: center;
  }
}
